<template>

<div class="p-grid" style="margin:0px;padding:30px;">
  <div class="p-col-12 p-md-12">
      <OrderList v-model="cart" dataKey="productId" listStyle="height:auto" v-model:selection="selection">
    <template #header>
        <div class="p-d-flex">
            <div class="p-mr-2"> <strong>Purchase List</strong> </div>
            <div class="p-mr-6"> </div>
             <div class="p-mr-2 p-offset-9"><Button icon="pi pi-check" label="Buy Now!!!" @click="myOrder"/></div>
        </div>   
    </template>
    <template #item="slotProps">
        <div class="product-item">
             <div class="image-container">
                <img :src="slotProps.item.productImg" style="width:350px; height:220px;">
             </div>
            <div class="product-list-detail">
                <h5 class="p-mb-2">{{slotProps.item.productName}}</h5> 
                <span class="product-category">category: {{slotProps.item.categoryId}}</span>
            
            </div>
            <div class="product-list-action">
                <h6 class="p-mb-2">Product Price:${{slotProps.item.productPrice}}</h6>
                <span >Quantity: {{slotProps.item.qty}}</span>
                <span >Total: {{slotProps.item.total}}</span>
                 
            </div>
         </div>
    </template>
</OrderList>

  </div>
    <Toast />
  <ConfirmDialog></ConfirmDialog>
<ConfirmDialog group="positionDialog"></ConfirmDialog>
</div>
  
</template>

<script>
export default {
   data(){
      return {
       cart: [],
       selection:null
      }
   },
   created() {
      this.cart = this.$store.getters["cart/getCart"];
       console.log(this.cart)
    },
    methods: {
        myOrder(){
               this.$confirm.require({
                message: 'Are you sure you want to procee purchase?',
                header: 'Confirmation',
                icon: 'pi pi-exclamation-triangle',
                accept: () => {
                    let content = "";
                    this.cart.forEach(item =>{
                       content += `${item.productName} Quantity: ${item.qty} total: ${item.total}`
                    })
                    alert(`${content} order success`)
                },
                reject: () => {
                    //callback to execute when user rejects the action
                }
            });
        }
    }
    
   
}

</script>
<style scoped>
.product-item {
	display: flex;
	align-items: center;
	padding: .5rem;
	width: 100%;
}
.product-list-detail {
		flex: 1 1 0;
	}
   	.product-list-action {
		display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
 .product-category-icon {
        vertical-align: middle;
        margin-right: .5rem;
    }
     .product-category {
        vertical-align: middle;
        line-height: 1;
    }
</style>
