<template>
   <Menubar :model="items" >
     <template #start>
       Fun Shopping!!!
    </template>
     <template #end>
           <Button type="button" label="MyCart" icon="pi pi-fw pi-shopping-cart" class="p-button-success" :badge="cartcount" badgeClass="p-badge-danger" @click="goCart" />
    </template>
   </Menubar>
</template>
<script>
import Menubar from 'primevue/menubar';
export default {
  components:{
   Menubar : Menubar
  },
   data() {
        return {
      
            items: [
                {
                   label:'Shoopping',
                   icon:'pi pi-fw pi-book',
                   to: '/products'
                }
                
             
             ]
        }
    },
    computed: {
       cartcount(){
         return this.$store.getters['cart/getCart'].length == 0 ? "0" : this.$store.getters['cart/getCart'].length.toString();
       }
    },
    methods: {
       goCart(){
         this.$router.replace('/cart')
       }
    }
}
</script>
<style scoped>
#lblCartCount {
    font-size: 12px;
    background: #ff0000;
    color: #fff;
    padding: 0 5px;
    vertical-align: top;
    margin-left: 0px;
}
.badge {
  padding-left: 9px;
  padding-right: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
}

/* .label-warning[href],
.badge-warning[href] {
  background-color: #c67605;
} */
</style>