<template>
 <base-container>
          <div class="p-shadow-24">
           
  <DataView :value="products" :layout="layout" :paginator="true" :rows="3" :sortOrder="sortOrder" :sortField="sortField">
	<template #header>
         <div class="p-grid">
		<div class="p-col-4" style="text-align: left">
               <Dropdown v-model="sortKey" :options="sortOptions" optionLabel="label" placeholder="Sort By Price" @change="onSortChange($event)" />
        </div>
	
         <div class="p-col-4 p-offset-4" style="text-align: right">
                <DataViewLayoutOptions v-model="layout" />
            </div>
        </div>
	</template>
	<template #list="slotProps">
     
			<div class="p-col-12">
						<div class="product-list-item ">
								<img :src="slotProps.data.productImg" :alt="slotProps.data.productName"/>
								  <div class="product-list-detail">
									<div class="product-name">{{slotProps.data.productName}}</div>
									<div class="product-description">{{slotProps.data.productDes}}</div>
									<Rating :modelValue="slotProps.data.rating" :readonly="true" :cancel="false"></Rating>
                                    <div>
									<i class="pi pi-tag product-category-icon"></i>
                                    <span class="product-category">{{slotProps.data.categoryId}}</span>
                                    </div> 
								</div> 
								<div class="product-list-action">
									<span class="product-price">${{slotProps.data.productPrice}}</span>
									<Button icon="pi pi-shopping-cart" label="Add to Cart" :disabled="slotProps.data.inventoryStatus === 'OUTOFSTOCK'"></Button>
									<span :class="'product-badge status-'+slotProps.data.inventoryStatus">{{slotProps.data.inventoryStatus}}</span>
								</div>   
						</div>	
		
     </div>
	</template>
	 <template #grid="slotProps">
     <div class="p-col-12 p-md-4" style="padding:30px">
							<div class="product-grid-item p-shadow-24" style="padding-left: 30px;padding-bottom: 10px;padding-top: 10px;" >
								<div class="product-grid-item-top">
									<div>
										<i class="pi pi-tag product-category-icon"></i>
										<span class="product-category">{{slotProps.data.categoryId}}</span>
									</div>
									<span :class="'product-badge status-'+slotProps.data.inventoryStatus">{{slotProps.data.inventoryStatus}}</span> 
								</div>
								<div class="product-grid-item-content">
									<img :src="slotProps.data.productImg" :alt="slotProps.data.productName"/>
									<div class="product-name">{{slotProps.data.productName}}</div>
									<div class="product-description">{{slotProps.data.productDes}}</div>
									 <Rating :modelValue="slotProps.data.rating" :readonly="true" :cancel="false"></Rating> 
								</div>
								<div class="product-grid-item-bottom">
                                <div class="p-grid">
									<span class="p-col-10">${{slotProps.data.productPrice}}</span>
									<Button  class="p-col-2 p-offset-2" icon="pi pi-search" @click="toDetail(slotProps.data.productId)"  :disabled="slotProps.data.inventoryStatus === 'OUTOFSTOCK'" v-tooltip.top="'Check Detail'"></Button>
                                    </div> 
								</div>
							</div>
        </div>
         </template> 
    <template #footer>
	<form @submit.prevent="submitForm">
	  <div class="p-grid">
	  <div class="p-col-4" style="text-align: left">
	     <span class="p-input-icon-left p-input-icon-right">
    <i class="pi pi-search" />
    <InputText type="text" v-model="search" placeholder="product Name...."    />
    <!-- <i class="pi pi-spin pi-spinner" /> -->
    </span>
	  </div>
		  <div class="p-col-8 p-offect-8" style="text-align: right">
		   <Button type="submit" label="Search" class="p-button-success"  icon="pi pi-search"  />
		  </div>
	   
	  </div>
	  </form>
	</template>
 
   </DataView>
</div>
</base-container>
</template>

<script>


export default {
  data(){
    return {
            layout: 'grid',
            sortKey: null,
            sortOrder: null,
            sortField: null,
			search: null,
            sortOptions: [
                {label: 'Price High to Low', value: '!productPrice'},
                {label: 'Price Low to High', value: 'productPrice'},
            ]
        }
  },
  methods:{
     async loaddata(){
        await this.$store.dispatch("product/setProducts")
     },
     onSortChange(event){
            const value = event.value.value;
            const sortValue = event.value;
           
             if (value.indexOf('!') === 0) {
                 this.sortOrder = -1;
                 this.sortField = value.substring(1, value.length);
                 this.sortKey = sortValue;
				 console.log(value.substring(1, value.length) )
             }
             else {
                 this.sortOrder = 1;
                 this.sortField = value;
                 this.sortKey = sortValue;
				  console.log(value.substring(1, value.length))
            }
        },
		submitForm(){
	      this.products = this.myproducts.filter(x=>x.productName.includes(this.search))
		},
		toDetail(id){
			   this.$router.replace(`/products/${id}`);
		} 
    
  },
  computed:{
    products(){
        return  this.$store.getters["product/products"];
    }
  },
  created() {
    this.loaddata();
  }
  
}
</script>
<style  scoped>
img{
     
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    margin: 10px;
    width:250px;
    height:160px;
}

.p-dropdown {
    width: 14rem;
    font-weight: normal;
}

.product-name {
	font-weight: 700;
}
.p-dataview-header
{
	height:50px !important;
}
/* .product-description {
	margin: 0 0 1rem 0;
} */

.product-category-icon {
	vertical-align: middle;
	margin-right: .5rem;
}
.product-grid-item-bottom{
margin-top: 10px;
}

.product-category {
	font-weight: 600;
	vertical-align: middle;
}
::v-deep(.product-grid-item) {
	margin: 10px;
	border: 1px solid #dee2e6;

}
::v-deep(.product-list-item) {
	display: flex;
	align-items: center;
	padding: 1rem;
	width: 100%;
   
}
.product-list-item .product-list-detail {
    flex: 1 1 0;
}
::v-deep(.product-list-item .product-list-action) {
	    display: flex;
		flex-direction: column;
}
::v-deep(.product-list-item .product-list-detail) {
	    display: flex;
		flex-direction: column;
       margin-left : 30px;
}
 
 ::v-deep(.product-list-item .p-button) {
	  margin-bottom: .5rem;
}
	
::v-deep(.product-list-item .product-price) {
        font-size: 1.5rem;
		font-weight: 600;
		margin-bottom: .5rem;
		align-self: flex-end;
}
@media screen and (max-width: 576px) {
		img {
			margin: 2rem 0;
			width: 200px;
            height: 150px;
		}
	.product-list-item {
		flex-direction: column;
		align-items: center;

	
	}
		.product-list-detail {
			text-align: center;
		}

		.product-price {
			align-self: center;
		}

		.product-list-action {
			display: flex;
			flex-direction: column;
		}

		.product-list-action {
			margin-top: 2rem;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			width: 100%;
		}
	
}


</style>
