<template>
 <div class="p-grid " style="margin:0px; padding:30px;">
   <div class="p-col-12">
<Card>
    <template #header>
      <div class="p-grid">
        <div class="p-md-3" style="margin-left:20px" >
             <h2>Product Detail : {{product.productName}}</h2>
        </div>
      </div>
      
    </template>
    <template #content>
      <div class="p-grid">
        <div class="p-col-5 p-md-5">
              <iframe width="540px" height="345px"   :src="product.productVido" allow='autoplay'></iframe> 
        </div>
         <div class="p-col-1 p-md-1">
             <Divider layout="vertical">
            </Divider>
        </div>
        <div class="p-col-6 p-md-6">
          <div class="p-grid">
             <div class="p-col-12 p-md-12">
               <div class="p-field p-grid">
                 <div class="col-md-3">
                     <strong>Introduction :</strong> 
                 </div>
                  <div class="col-md-4">
                   <textarea rows="4"  v-model="product.productDes" style=" resize:none; width:400px" disabled></textarea>
                 </div>
                </div>
            </div>
            <div class="p-col-12 p-md-12">
               <div class="p-field p-grid">
                  <div  class="col-md-3"> 
                    <strong>Price :</strong> 
                  </div>
                  <div class="col-md-4">
                    ${{ product.productPrice}}
                  </div>
               </div>
              
            </div>
            <div class="p-col-12 p-md-12">
                   <img alt="user header" style="margin-top: 10px;width: 300px;" :src="product.productImg">
            </div>
          </div>
        </div>
      </div>    
    </template>
    <template #footer style="border-top: 1px solid lightgrey">
      <div class="p-d-flex p-flex-column p-flex-md-row">
        <div class="p-col-3 p-md-3">
           <div class="p-field p-grid">
           
             <label>Quanity:</label>
                   <div class="p-col">
                     <InputNumber id="minmax-buttons" v-model="qty" mode="decimal" showButtons :min="0" :max="100" />
                   </div>
                     
             </div>
        </div>         
        <div class="p-field p-col-3 p-md-3">
             <label>Total: <strong>${{count}}</strong></label>
        </div>
        <div class="p-field p-col-3 p-md-3 p-offset-3">
     
        <Button icon="pi pi-check" label="Purchse" @click="purchase" />
        <Button icon="pi pi-times" label="Return to Menu" @click="returnMenu" class="p-button-secondary" style="margin-left: .5em" />
        </div>
      </div>

    </template>
</Card>
<Toast position="top-right" />
   </div>
 </div>


</template>
<script>
export default {
  data(){
      return{
        product:null,
        qty: 0,
      }
  },
  created(){
    const prodId = this.$route.params.id; 
     this.product = this.$store.getters["product/products"].find(x=>x.productId ==prodId );

  },
  computed:{
    count(){
       return this.product.productPrice * this.qty;
    }
  },
  methods:{
    returnMenu(){
       this.$router.replace(`/products/`);
    },
    purchase(){
        let purchase = this.$store.getters["product/products"].find(x=>x.productId ==this.product.productId );
        if(this.qty == 0){
          this.$toast.add({severity:'error', summary: 'Quntity Error', detail:'input Quantity', life: 6000});
         
          return;
        }else{
        purchase.qty = this.qty;
        purchase.total = this.qty* this.product.productPrice;
        this.$store.dispatch('cart/setCart', purchase);
         this.$toast.add({severity:'success', summary: 'Purchase Success', detail:`Product Name: ${this.product.productName}  Quantity:${purchase.qty }  Total:${ purchase.total}`, life: 6000});
         
        }
        
    }
  },
  watch:{

  }
}
</script>
<style scoped>
.card {
        background: #ffffff;
        padding: 2rem;
        box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
        border-radius: 4px;
        margin-bottom: 2rem;
}
::v-deep(.p-card-footer){
  border-top: 1px solid lightgrey !important;
}
::v-deep(.p-card-header){
  border-bottom: 1px solid lightgrey !important;
}
.p-divider-solid.p-divider-vertical:before {
     border-left-style: solid !important; 
}

</style>
